@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: red;
}

Image {
  transform: translateX(-100px);
}

p {
  transform: translateY(-45vh) translateX(23vw);
}

